@font-face {
  font-family: "Akzidenz Grotesk Pro";
  src: url("../assets/fonts/Akzidenz Grotesk Pro 2/Akzidenz Grotesk Pro Light Regular.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akzidenz Grotesk Pro";
  src: url("../assets/fonts/Akzidenz Grotesk Pro 2/Akzidenz Grotesk Pro Regular Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akzidenz Grotesk Pro";
  src: url("../assets/fonts/Akzidenz Grotesk Pro 2/Akzidenz Grotesk Pro Med Regular.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akzidenz Grotesk Pro";
  src: url("../assets/fonts/Akzidenz Grotesk Pro 2/Akzidenz Grotesk Pro Bold Regular.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
