@import "tailwindcss";
@import "@fontsource/abhaya-libre";
@import "./styles/fonts.css";

@theme {
  --font-abhaya: "Abhaya Libre";
  --font-akzidenz: "Akzidenz Grotesk Pro";

  --color-blue: #212a4b;
  --color-brown: #5b3127;
  --color-orange: #a45d3b;
  --color-white: #efefef;
  --color-cream: #efe6d9;
  --color-black: #1e1e1e;
  --color-dark-brown: #30231d;
  --color-blue-overlay: #191f35;
  --color-cream-second: #feeece;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: var(--color-white);
  font-family: var(--font-akzidenz);
}

html {
  scroll-behavior: smooth;
}

.divider-white {
  width: 100%;
  height: 1.5px;
  background: linear-gradient(
    to right,
    transparent,
    #fff 15%,
    #fff 85%,
    transparent
  );
}

.divider-orange-full {
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    transparent,
    var(--color-orange) 15%,
    var(--color-orange) 85%,
    transparent
  );
}

.divider-orange {
  width: 145px;
  height: 2px;
  background: linear-gradient(
    to right,
    transparent,
    var(--color-orange) 15%,
    var(--color-orange) 85%,
    transparent
  );
}

.title {
  @apply text-[32px] md:text-[36px] lg:text-[48px] leading-[90%];
}
.subtitle {
  @apply text-[24px] md:text-[28px] lg:text-[32px] leading-[120%];
}
.paragraph {
  @apply text-[18px] md:text-[20px] lg:text-[25px] leading-[120%];
}
.boton {
  @apply text-[12px] lg:text-[17px];
}
.data {
  @apply text-[16px] lg:text-[18px];
}
